.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	margin:0 0 10px 0;
	font-size: 120%;
}

.markdown pre {
	border: 1px solid gray;
	padding: 5px;
	background: #F0F0F0;
}