body {
  margin: 0;
}
body.xuml-width-fill {
  position:absolute;
  top:0;
  right:0;
  left:0;
  overflow-x:auto;
}
body.xuml-height-fill {
  position:absolute;
  top:0;
  bottom:0;
  overflow-y:auto;
}
textarea.text-editor {
  border:0;
  padding:0;
  margin:0;
}
.xuml-width-fill {
  width:100%;
}
.xuml-height-fill {
  height:100%;
}
table.vbox,
table.hbox,
table.box {
  padding:0;
  margin:0;
  border-collapse:collapse;
  width:100%;
}
table.vbox td,
table.hbox td,
table.box td{
  padding:0;
}
table.vbox tr,
table.hbox tr,
table.box tr{
  vertical-align:top;
}
